<% if userrest_signed_in? %>
<% if @restaurant.userrest_id == current_userrest.id %>
 <h1><%= @restaurant.name %></h1>

<!-- 	<img scr= <%#= cl_image_tag(@restaurant.image_url) %>
	<img scr= <%#= cl_image_tag(@restaurant.image2_url) %>
	<img scr= <%#= cl_image_tag(@restaurant.image3_url) %> -->

	<% @menuitems.each do |item| %>
	<p><%= item.item %>
	<%= item.price %>
	<%= link_to 'Edit', edit_restaurant_menuitem_path(@restaurant, item) %>
	<%= link_to 'Delete', restaurant_menuitem_path(@restaurant, item),
								method: :delete,
        				data: { confirm: 'Are you sure?' } %></p>
	<% end %>


<h1>Add a new menu item</h1>
	<%= form_with scope: :menuitem, url: restaurant_menuitems_path, local: true do |form| %>

	<p>
		<%= form.label :item %><br>
		<%= form.text_field :item %>
	</p>

	<p>
		<%= form.label :price %><br>
		<%= form.text_field :price %>
	</p>


	<%= form.hidden_field :restaurant_id, value:@restaurant.id %>

	<p>
		<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', restaurant_path(@restaurant) %>
<% end %><% end %>


<% if customer_signed_in? %>

	<%= form_with model: @reservation, url: customer_reservations_path(current_customer.id), local: true do |f| %>

	<%= f.label :reservation_date %><br>

	<%= f.date_field( :reservation_date, data: { url: monkey_banana_path, remote: true , method: :get} )%><br>



	<%= f.time_select :reservation_time,
  :combined => true,
	:prompt => "Choose a time",
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 10,
  :start_minute => 30,
  :end_hour => 12,
  :end_minute => 30,
  :label => false,
  :required => true,
  :html_options =>{:disabled => @checkvar, :required => true}
%>



	<%= f.hidden_field :customer_id, value: current_customer.id %>
	<%= f.hidden_field :restaurant_id, value: @restaurant.id %>


  <% @menuitems.each do |item| %>

  	<%= item.item %> | <%= item.price %>


  	<%= f.fields_for :menuitems_reservations, MenuitemsReservation.new do |form| %>

  		<%= form.label :quantity %><br>
  		<%= form.number_field :quantity %>

  		<%= form.hidden_field :menuitem_id, value: item.id %>

		<% end %>

  <% end %>

	<%= f.submit %>


<% end %>
<% end %>



<script type="text/javascript">
	$(document).ready(function(){
		$('#reservation_reservation_date').on('ajax:success', function(data){
		  // alert('successful request!  data was:  ' + url);
		  console.log("data:", data);
		});

		$('#reservation_reservation_date').on('ajax:complete', function(event){
		  // alert('successful request!  data was:  ' + url);
		  //console.log("doneeeeeee data:", event.detail[0].response);
		  var ajaxresponse = event.detail[0].response;

		  var selectbox = document.getElementById("reservation_reservation_time_5i");
			var optionvalue = selectbox.options[selectbox.selectedIndex].value;
			var jsonresponse = Object.values(JSON.parse(ajaxresponse))[0];

			// console.log(jsonresponse[0].reservation_time.split('T')[1].split('.')[0]);


			var counter =0;
			for (var j = 0; j < selectbox.length; j ++){

				if (selectbox.options[j].style.display != 'none'){
					counter += 1;
				}

				if (counter === 10){
					selectbox.options[0].text = 'Sorry fully booked'
					selectbox.disabled = true;

				}

		  	for (var i = 0; i < jsonresponse.length; i ++){

		  		if (jsonresponse[i].reservation_time != null){

		  		var time = jsonresponse[i].reservation_time.split('T')[1].split('.')[0]

				  	if (selectbox.options[j].value == time){
						selectbox.options[j].style.display='none'
						}

					}
		  	}
			}



		});
 	});
</script>




