<div class="container">
<h1>Edit Your Profile</h1>

<%= form_with model: @customer, local: true do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :image_url %><br>
		<%= form.text_file_field :image_url %>
	</p>

	<p>
		<%= form.submit "Update profile" %>
	</p>

<% end %>

<%= link_to 'Back', customer_path %>
</div>