<!--
**************************
If customer signed in
************************** -->

<% if customer_signed_in? %>
	<h1><%= @customer.name %>: Your Reservations</h1>
	<%= month_calendar(attribute: :reservation_date, events: @booked, restaurant: @restaurant) do |date, events, restaurant| %>

  <%= date.to_formatted_s(:short) %>

	  <% events.each do |event| %>
	    <div>
	    	<%= link_to 'Your reservation at:' + event.restaurant.name, customer_reservation_path(current_customer.id, event.id) %><br>
	      <%= event.reservation_time %>
	    </div>
	  <% end %>

	<% end %>


	<% end %>



<!--
**************************
If restaurant signed in
UNRESOLVED
************************** -->

<% if userrest_signed_in? %>
	<h1><%= @restaurant.name %>: Your Customer Reservations</h1>

	<%= calendar(attribute: :reservation_date, events: @booked, number_of_days: 1) do |date, events| %>
  <%= date.to_formatted_s(:short) %>

	  <% events.each do |event| %>
	    <div>
	      <%= event.customer.name %><br>
	      <%= event.reservation_time %> <br>
	      Pax:<%= event.seats %><br>
	      <%= link_to 'Order', restaurant_reservation_path(event.restaurant_id, event.id) %>
	    </div>
	  <% end %>

	<% end %>

<% end %>


<div class="row justify-content-md-center">
<%= link_to 'Back', restaurants_path %>
</div>


