<!--
**************************
If customer signed in
UNRESOLVED
************************** -->
<h1>HELLO</h1>

<%= @reservation.restaurant.name %>
<br><br>

<% @reservation.menuitems_reservations.each do |x| %>
<p>
<%= x.quantity %> <%= x.menuitem.item %> <%= x.menuitem.price %></p>

<% end %>

total
<%= @price %>

<%= link_to 'Back', customer_reservations_path(current_customer.id)%>
<%= link_to 'edit', edit_customer_reservation_path(current_customer.id, @reservation)%>
<%= link_to 'Destroy', customer_reservation_path(current_customer.id, @reservation),
			                        method: :delete,
			                        data: { confirm: 'Are you sure?' } %>



<!--
**************************
If restaurant signed in
UNRESOLVED
************************** -->
