<div class = "container">

<!--
**************************
If customer is signed in
************************** -->


    <% if customer_signed_in? %>
    <div class="row">
    		<div class="welcome-header">Hello there, <a href="<%= customer_path(current_customer.id) %>"><%= current_customer.name %></a>!
    		</div>
    </div>

<div class="row">
		<h1>Search for your favourite restaurant</h1>
		<%= form_tag restaurants_path, method: :get do %>
		<%= text_field_tag :search, params[:search], placeholder: "search for stuff" %>
			<%= label_tag :name %>
			<%= radio_button_tag :option, "name" %>
			<%= label_tag :location %>
			<%= radio_button_tag :option, "location" %>
			<%= submit_tag "Search", name: "commit", class: "btn btn-default" %>
		<% end %>

</div>

			<!--
			****************************
			Upon searching, show results
			**************************** -->

         <% if params[:search].present? %>
         	<% if @restaurants.present? %>
		        <% @restaurants.each do |restaurant| %>
			        <div class="row card col-lg-4 col-md-4 col-sm-6 col-xs-12">
			            <br/>
			            <%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
			            <div class="card-body">
			                <h5 class="card-title"><%= restaurant.name %></h5>
			                <p class="card-text">Date created: <%= restaurant.created_at.to_date %></p>
			                    <p class="card-text inline"><%= link_to 'Restaurant Profile', restaurant_path(restaurant) %></p>
			                   <!--  <p class="card-text inline"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></p>
			                    <p class="card-text inline"><%= link_to 'Destroy', restaurant_path(restaurant),
			                        method: :delete,
			                        data: { confirm: 'Are you sure?' } %></p> -->
			            </div>
			        </div>
		        	<% end %>
		      <% else %>
		      	<div> We couldn't find the restaurant you were looking for! </div>
		      <% end %>

        <%= link_to 'Back', restaurants_path %>


        <!--
			**********************************
			By default, show categories
			**********************************-->
        <% else %>
      <div class="row">
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

					<div class="carousel-inner">
							<% @categories.each_with_index do |product| %>
							<div class="carousel-item <%= " active" if product==@categories.first %> ">
									<% if product.image_url.present? %>
									<%= image_tag product.image_url, class: "d-block w-100" %>
									<% end %>
									<div class="carousel-caption">
											<a href="<%= category_path(product.id) %>"><%= product.name %></a>
									</div>
							</div>
							<div class="carousel-item">
									<% if product.image_url.present? %>
									<%= image_tag (product.image_url) , class: "d-block w-100" %>
									<% end %>
									<div class="carousel-caption">
											<a href="<%= category_path(product.id) %>"><%= product.name %></a>
									</div>
							</div>
							<% end %>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		   			 <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>

			</div>

	<% end %>





<!--
**************************
If restaurant is signed in
************************** -->
    <% elsif userrest_signed_in? %>
    <h1>Welcome,<a href="<%= edit_userrest_registration_path %>"> <%= current_userrest.email %></a>!</h1>

    <%#= line_chart Reservation.group_by_day(:reservation_date).count %>

    <div id="graph" style="max-width: 700px; height: 400px; margin: 0 auto"></div>
    <h3>Restaurants Owned by You</h3>
        <% @restaurants.each do |restaurant| %>
        <div class="row card col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <br/>
            <%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
            <div class="card-body">
                <h5 class="card-title"><%= restaurant.name %></h5>
                <p class="card-text">Date created: <%= restaurant.created_at.to_date %></p>
                    <p class="card-text inline"><%= link_to 'Restaurant Profile', restaurant_path(restaurant) %></p>
                    <p class="card-text inline"><%= link_to 'See Restaurant Reservations', restaurant_reservations_path(restaurant) %></p>
                    <p class="card-text inline"><%= link_to 'Edit Restaurant', edit_restaurant_path(restaurant) %></p>
                    <p class="card-text inline"><%= link_to 'Delete Restaurant', restaurant_path(restaurant),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></p>
            </div>
        </div>


   			<div class="links">


   			</div>
        <% end %>



<!--
**************************
If not signed in
************************** -->
    <% else %>

    	<%# if false %>

        <!--
			****************************
			Upon searching, show results
			**************************** -->
        <% if params[:name] != nil %>

	        <% @restaurants.each do |restaurant| %>
		        <div class="row card col-lg-4 col-md-4 col-sm-6 col-xs-12">
		            <br/>
		            <%= cl_image_tag(restaurant.image_url,  class: "card-img-top") %>
		            <div class="card-body">
		                <h5 class="card-title"><%= restaurant.name %></h5>
		                <p class="card-text">Date created: <%= restaurant.created_at.to_date %></p>
		                    <p class="card-text inline"><%= link_to 'Restaurant Profile', restaurant_path(restaurant) %></p>
		            </div>
		        </div>
		        <% end %>

		        <%= link_to 'Back', restaurants_path %>


		    <!--
			**********************************
			By default, show categories
			**********************************-->
        <% else %>
        <h1>Search for your favourite restaurant</h1>
        <form class="form-inline">

        <%= form_tag(restaurants_path, method: :get) do %>
        <%= text_field_tag :name, nil, placeholder: "Search for restaurants by Name or Location", id: "search-rest" %>
        <%= submit_tag 'Search'  ,  class: "btn btn-primary"%>
      </form>
        <% end %>

        <div class="row">
       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

			<div class="carousel-inner">


					<div class="carousel-item active">
					<% @categories.first(3).each do |first| %>
					<div class= 'col'>
					<div class="carousel-image">
							<% if first.image_url.present? %>
							<%= image_tag first.image_url, class: "d-block w-100" %>
							<% end %>
							<div class="carousel-caption">
									<a href="<%= category_path(first.id) %>"><%= first.name %></a>
							</div>
					</div></div>
					<%end%>
				</div>
					<div class="carousel-item">
						<% @categories.drop(3).first(3).each do |product| %>
											<div class= 'col'>
												<div class="carousel-image">

							<% if product.image_url.present? %>
							<%= image_tag (product.image_url) , class: "d-block w-100" %>
							<% end %>
							<div class="carousel-caption">
									<a href="<%= category_path(product.id) %>"><%= product.name %></a>
							</div></div></div><%end%>
					</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
   			 <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
</div>
        <% end %>

       <%# end %>
<% end %>

</div>

<script type="text/javascript">


	Highcharts.chart('graph', {
    chart: {
        type: 'spline'
    },
    title: {

        text: 'Restaurant Peak Hours'
    },
    subtitle: {
        text: 'Statistics for manpower management'
    },
    xAxis: {
    		categories: <%= @timing.inspect.html_safe %>,
        // type: 'datetime',
        // min: 10.30,
        // max: 22.30,
        // tickInterval: 900,
        // dateTimeLabelFormats: { // don't display the dummy year
        //     hour: '%I %p',
       	// 		minute: '%I:%M %p'
        // },
        endOnTick: true,
        title: {
            text: 'Reservation Timings'
        }
    },
    yAxis: {
        title: {
            text: 'No. of Reservations'
        },
        min: 0,
        tickInterval: 1
    },
    tooltip: {
    	 formatter:function(){
         return 'At ' + this.key + ', ' + this.y + ' reservation(s)';
                },
    		backgroundColor: '#FFF862',
        headerFormat: '<b>{series.name}</b><br>',
        // pointFormat: 'At {point.x}, {point.y}',
        // valueSuffix: ' reservation(s)',
        crosshairs: [true,true]
    },

    plotOptions: {
        spline: {
            marker: {
                enabled: true
            }
        }
    },

    colors: ['#6CF', '#39F', '#06C', '#036', '#000'],

    // Define the data points. All series have a dummy year
    // of 1970/71 in order to be compared on the same x axis. Note
    // that in JavaScript, months start at 0 for January, 1 for February etc.

    series: [{
        name: "Year 2018",
        data: <%= @data.inspect.html_safe %>

    },
    {
        name: "Year 2018",
        data: <%= @data.inspect.html_safe %>

    }

    ]
});

</script>

