<!--
**************************
If customer is signed in
************************** -->
<% if customer_signed_in? %>
<div class="jumbotron">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
								<% @restaurantlist.first(3).each_with_index do |product| %>
								<div class="carousel-item <%= " active" if product==@restaurantlist.first %> ">
										<% if product.image_url.present? %>
										<%= link_to cl_image_tag product.image_url[0],  class: "d-block w-100" %>
										<% end %>
								</div>
								<div class="carousel-item">
										<% if product.image_url.present? %>
										<%= cl_image_tag (product.image_url[0]) , class: "d-block w-100" %>
										<% end %>
								</div>
								<% end %>
						</div>
								</div>
<div class="jumbotronsearch">
				<div class="row justify-content-md-center">
						<div class='col-8'>
								<h2>Search for your favourite restaurant</h2>
						</div><br>
						<div class='col-6'>
								<%= form_tag restaurants_path, method: :get do %>
								<%= text_field_tag :search, params[:search], placeholder: "search for stuff", class: 'searchbar' %>
								<%= image_submit_tag "search.png", name: "commit", class: "btn btn-default search" %>
								<%= select_tag(:option, options_for_select(["name", "location"], selected: :option ), class: 'dropdown-item filter') %>
								<% end %>
						</div>
				</div>
</div>
<!--
			****************************
			Upon searching, show results
			**************************** -->
<div class="container">
		<% if params[:search] != nil %>
		<% if @restaurants.present? %>
		<div class='row'>
				<% @restaurants.each do |restaurant| %>
				<div class="card coverimg">
						<%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
						<div class="card-body">
								<h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
						</div>
				</div>
				<% end %>
		</div>
		<% else %>
		<div> We couldn't find the restaurant you were looking for! </div>
		<% end %>
		<!--
			**********************************
			By default, show categories
			**********************************-->
		<% else %>
		<div class='row'>
			<h4>Suggested places:</h4>
		</div>
		<div class="row">
				<% @restaurantlist.first(3).each do |restaurant| %>
				<div class="card coverimg">
						<%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
						<div class="card-body">
								<h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
						</div>
				</div>
				<% end %>
		</div>
		<% end %>
</div>
<!--
**************************
If restaurant is signed in
************************** -->

<% elsif userrest_signed_in? %>
<div class="container">
		<h1>Welcome,<a href="<%= edit_userrest_registration_path %>"> <%= current_userrest.email %></a>!</h1>

  <div class="peak-hours">
		<h3>Peak Hours</h3>
		<%= line_chart @restaurants.map { |restaurant| {name: restaurant.name, data: restaurant.reservations.group(:reservation_time).count}}, title: "Tracking Peak Hours for Your Businesses", legend: "bottom", id: "rest-chart", width: "1100px", height: "500px", messages: {empty: "No reservations yet"}, library: {Tension: 0, animation: {easing: 'easeInElastic'}, scales: {
            yAxes: [{
	            	scaleLabel: {
	            	display: true,
	            	labelString: "No.of Reservations",
	        			fontColor: "white",
	        			fontSize: 18
	        		},
                ticks: {
                    fontColor: "white",
                    fontSize: 15,
                    stepSize: 2,
                    beginAtZero: true
                },
                gridLines: {
                	color: "#F7F7F7",
                zeroLineColor: "#F7F7F7"
                }
            }],
            xAxes: [{
            	scaleLabel: {
            	display: true,
            	labelString: "Reservation Timings",
        			fontColor: "white",
        			fontSize: 18
        		},
                ticks: {
                    fontColor: "white",
                    fontSize: 15
                }
            }],
        		},
		        legend: {
		            labels: {
		            	fontColor: "white",
		            	fontSize: 20
		            }
		            },
		        title: {
		           fontColor: "white"
		          }
		      } %>
</div>
	<div class="pop-items">
    <h3>Popular Items</h3>
    <div class="clearfix">
	  <% @pie.each do |p| %>
	    <%= pie_chart (p), messages: {empty: "No items added yet"}, width: "300px", height: "500px", library: {backgroundColor: 'transparent', animation:{easing: 'easeOutQuad'}, elements: {arc: {borderWidth: 0}}, legend: {
		            labels: {
		            	fontColor: "white",
		            	fontSize: 18
		            }
		         },
		     }, className: "pie-chart" %>
    <% end %>
  	</div>
  </div>

		<div class="row">
				<% @restaurants.each do |restaurant| %>
				<div class="card coverimg float-left">
						<%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
						<div class="card-body">
								<h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
								<p class="card-text inline">
										<%= link_to 'See Restaurant Reservations', restaurant_reservations_path(restaurant) %>
								</p>
								<p class="card-text inline">
										<%= link_to 'Edit Restaurant', edit_restaurant_path(restaurant) %>
								</p>
								<p class="card-text inline">
										<%= link_to 'Delete Restaurant', restaurant_path(restaurant),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
								</p>
						</div>
				</div>
				<% end %>
		</div>
</div>
<!--
**************************
If not signed in
************************** -->
<% else %>
<div class="jumbotron">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
								<% @restaurantlist.first(3).each_with_index do |product| %>
								<div class="carousel-item <%= " active" if product==@restaurantlist.first %> ">
										<% if product.image_url.present? %>
										<%= link_to cl_image_tag product.image_url[0],  class: "d-block w-100" %>
										<% end %>
								</div>
								<div class="carousel-item">
										<% if product.image_url.present? %>
										<%= cl_image_tag (product.image_url[0]) , class: "d-block w-100" %>
										<% end %>
								</div>
								<% end %>
						</div>
								</div>
<div class="jumbotronsearch">
				<div class="row justify-content-md-center">
						<div class='col-8'>
								<h2>Search for your favourite restaurant</h2>
						</div><br>
						<div class='col-6'>
								<%= form_tag restaurants_path, method: :get do %>
								<%= text_field_tag :search, params[:search], placeholder: "search for stuff", class: 'searchbar' %>
								<%= image_submit_tag "search.png", name: "commit", class: "btn btn-default search" %>
								<%= select_tag(:option, options_for_select(["name", "location"], selected: :option ), class: 'dropdown-item filter') %>
								<% end %>
						</div>
				</div>
</div>
<%# if false %>
<!--
			****************************
			Upon searching, show results
			**************************** -->
<div class="container">
		<% if params[:search] != nil %>
		<% if @restaurants.present? %>
		<div class='row'>
				<% @restaurants.each do |restaurant| %>
				<div class="card coverimg">
						<%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
						<div class="card-body">
								<h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
						</div>
				</div>
				<% end %>
		</div>
		<% else %>
		<div> We couldn't find the restaurant you were looking for! </div>
		<% end %>
		<!--
			**********************************
			By default, show categories
			**********************************-->
		<% else %>
		<div class='row'>
			<h4>Suggested places:</h4>
		</div>
		<div class="row">
				<% @restaurantlist.first(3).each do |restaurant| %>
				<div class="card coverimg">
						<%= cl_image_tag(restaurant.image_url[0],  class: "card-img-top") %>
						<div class="card-body">
								<h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
						</div>
				</div>
				<% end %>
		</div>
		<% end %>
</div>
<%# end %>
<% end %>
</div>

