<div class="container">
    <div class="row">
        <h1>Add Restaurant</h1>
    </div>
    <div class="row">
        <%= form_with model: @restaurant, local: true do |form| %>

            <div>
                <%= form.label :name %><br>
                <%= form.text_field :name, {class: 'form-control'}%>
            </div>

            <div>
                <%= form.label :image_url %><br>
                <%= form.file_field :image_url, {class: 'form-control'} %>
            </div>

            <div>
                <%= form.label :street %><br>
                <%= form.text_field :street, {class: 'form-control'} %>
            </div>

            <div>
                <%= form.label :city %><br>
                <%= form.text_field :city, {class: 'form-control'} %>
            </div>

            <div>
                <%= form.label :zipcode %><br>
                <%= form.text_field :zip, {class: 'form-control'} %>
            </div>

            <div>
                <%= form.label :categories %><br>
                <%= form.collection_check_boxes :category_ids, @categories, :id, :name %>
            </div>

            <div>
                <%= form.hidden_field :lat, {class: 'form-control'}%>
            </div>

            <div>
                <%= form.hidden_field :long, {class: 'form-control'} %>
            </div>


            <br>

            <p>
                <%= form.submit class: 'btn btn-primary'%>
            </p>
        <% end %>
    </div>

    <div class="row">
        <%= link_to 'Back', restaurants_path, class: 'btn btn-primary' %>
    </div>

</div>