<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
<div class="container">
		<!--
**************************
header image and res title
************************** -->
		<div class="row">
				<h1><%= @restaurant.name %></h1>
		</div>
		<div class="row">
				<% @restaurant.image_url.each do |image| %>
				<div class="card restimg">
						<%= cl_image_tag(image,  class: "card-img-top") %>
				</div>
				<% end %>
		</div>
		<!--
**************************
Menu
************************** -->
		<div class="row">
				<div class='col-8'>
								<div class="menu">
										<h5>Menu</h5>
										<% if @restaurant.menuitems.blank? %>
										<h5>no menu yet!</h5>
										<% else %>
										<div class="row">
												<% @restaurant.menuitems.each do |menuitems| %>
												<div class="col-lg-8">
														<%= menuitems.item %>
												</div>
												<div class="col">
														$<%= menuitems.price %>
												</div>
												<% end %>
										</div>
										<% end %>
										<!--
				**************************
				Edit menu for userrest
				************************** -->
										<% if userrest_signed_in? %>
										<div><br>
												<%= link_to 'Edit menu', restaurant_menuitems_path(@restaurant) %><br>
										</div>
										<% end %>
								</div>
				</div>
				<!--
**************************
Reviews
************************** -->
				<div class="col-4">
						<!--
**************************
Description
************************** -->
								<h5>Categories:</h5>
								<% @restaurant.categories.each do |cat| %>
								<p><a href="<%= category_path(cat.id) %>" class="cat-links"><%= cat.name %></a></p>
								<% end %>
								<h5>Telephone:</h5>
								<p>
										<%= @restaurant.telephone %>
								</p>
								<h5>Opening Hours:</h5>
								<p>
										<%= @restaurant.opening_hours %>
								</p>
						<!--
**************************
Reservation for customer
************************** -->
								<% if customer_signed_in? %>
								<h5><%= link_to 'Make reservation', restaurant_menuitems_path(@restaurant) %></h5>
								</p>
								<% end %>
				</div>
		</div>
				<!--
				**************************
				Customer add review
				************************** -->
				<% if customer_signed_in? %>
				<% if @reviews.blank? %>
						<h5>Reviews</h5>
						<p>no reviews yet!</p>
				<% else %>
				<div class="col-12">
						<h5>Reviews</h5>
						<h5>Total: <div class="star-rating" data-score=<%=@average_rating %>></h5>
						<table class="table">
								<thead>
										<tr>
												<th class="col-mid-3">Customer</th>
												<th class="col-mid-9">Review</th>
										</tr>
								</thead>
								<tbody>
										<% @reviews.each do |review| %>
										<tr>
												<td>
														<h5><%= "#{review.customer.name}" %></h5>
												</td>
												<td>
														<div class="clearfix star-rating" data-score=<%=review.rating %>>
																<%= review.comment %>
												</td>
										</tr>
										<% end %>
								</tbody>
						</table>
						</div>
						<% end %>
						<%= link_to "Create Review", new_restaurant_review_path(@restaurant)%><br>
						<%end%>
						<!--
				**************************
				Userrest view review
				************************** -->
						<% if userrest_signed_in? %>
						<hr>
						<h5>Reviews</h5>
						<% if @reviews.blank? %>
						<p>no reviews yet!</p>
						<% else %>
						<div class="row">
								<% @reviews.each do |review| %>
								<div>
										<%= review.comment %>
								</div>
								<% end %>
						</div>
						<div class="star-rating" data-score=<%=@average_rating %>>
								<% end %>
										<p>
												<%= link_to 'Edit Restaurant Profile', edit_restaurant_path(@restaurant) %>
										</p>
										<p>
												<%= link_to 'Delete', restaurant_path(@restaurant)%>
										</p>
						</div>
						<% end %>
				</div>