<div class="container">
   <!--  <div class="row">
        <h1>Show</h1>
    </div> -->
    <div class="row">
        <h1><%= @restaurant.name %></h1>
        <%= cl_image_tag(@restaurant.image_url) %>
    </div>

    <div class="Row">
        <h5>Menu</h5>
        <% @restaurant.menuitems.each do |menuitems| %>
            <div><%= menuitems.item %></div>
            <div><%= menuitems.price %></div>
        <% end %>
    </div>

    <div class="row">
        <h5>Reviews</h5>
        <% @reviews.each do |review| %>
            <%= review.comment %>
        <% end %>
    </div>


   <div class="row">
    <!--     <p><%= link_to 'Edit Restaurant Profile', edit_restaurant_path(@restaurant) %></p>
            <p><%= link_to 'View Menu', restaurant_menuitems_path(@restaurant) %></p>
        <p><%= link_to 'Delete', restaurant_path(@restaurant),

    	
   
            method: :delete,
            data: { confirm: 'Are you sure?' } %></p> -->
     <% if customer_signed_in? %>
        <p><%= link_to 'Back to Homepage', restaurants_path, class: "minor-links" %></p>
        <p><%= link_to 'See other ' + @category[0].name + ' Food', category_path(@category[0]), class: "minor-links" %></p>
      <% elsif userrest_signed_in? %>
      	<p><%= link_to 'Back to Homepage', restaurants_path, class: "minor-links" %></p>
     <% end %>
    </div>

</div>