<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <%= link_to 'Restaurants', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
        <ul class="nav navbar-nav ">
        	<!--
					**************************
					If userrest signed in
					************************** -->
          <% if userrest_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="/restaurants">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to 'Add Restaurant', new_restaurant_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', destroy_userrest_session_url, method: :delete, class: "nav-link" %>
            </li>
           <!--
					**************************
					If customer signed in
					************************** -->
          <% elsif customer_signed_in? %>
            <li class="nav-item active">
              <a class="nav-link" href="/restaurants">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <%= link_to 'Cust', customer_path(current_customer.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'My Reservations', customer_reservations_path(current_customer.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', destroy_customer_session_url, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Restaurant Log In', new_userrest_session_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'User Log In', new_customer_session_url, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', signups_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
   	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    	<%= yield %>




    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvIOA1fSvyvcGj-eCn_QA0vIqpBcoNXL0&libraries=places" type="text/javascript"></script>
    <script>
      $('.star-rating').raty({
        path: '/assets',
        readOnly: true,
        score: function(){
          return $(this).attr('data-score');
        }
      });
    </script>
  </body>
</html>
